<ul class="info-list">
    <li class="info-list-item"><span>Выбран пользователь: </span><span class="list-iten-value"><b>{{firstName}} {{lastName}}</b></span></li>
    <li class="info-list-item"><span>Описание: </span><textarea class="list-iten-value">{{description}}</textarea></li>
    <li class="info-list-item"><span>Адрес проживания: </span><span class="list-iten-value"><b>{{address.streetAddress}}</b></span></li>
    <li class="info-list-item"><span>Город: </span><span class="list-iten-value"><b>{{address.city}}</b></span></li>
    <li class="info-list-item"><span>Провинция/штат: </span><span class="list-iten-value"><b>{{address.state}}</b></span></li>
    <li class="info-list-item"><span>Индекс: </span><span class="list-iten-value"><b>{{address.zip}}</b></span></li>
</ul>