<tr>
    <td class="contacts-item">{{id}}</td>
    <td class="contacts-item">{{firstName}}</td>
    <td class="contacts-item">{{lastName}}</td>
    <td class="contacts-item single-line">{{email}}</td>
    <td class="contacts-item single-line">{{phone}}</td>
    <td class="contacts-item">{{address.zip}}, {{address.streetAddress}}, {{address.city}}, {{address.state}}</td>
    <td class="contacts-item">{{description}}</td>
</tr>